# Development
.venv
.dev
__pycache__
/target
.cargo
dist

# Development tools
.gemini/
.codex/
.grepai/

# Chromium
chromium/*
!chromium/patches/
!chromium/patches/cbf/
!chromium/patches/cbf/**
!chromium/CHANGELOG.md
depot_tools

# OS
.DS_Store

